@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Poppins:wght@700&family=Quicksand:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden; /* Evita el desplazamiento horizontal no deseado */
}

/* Pantalla de bienvenida */
#welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  padding: 0 20px; /* Agrega un poco de padding horizontal */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.welcome-text {
  font-family: 'Baloo 2', cursive;
  font-size: 3rem;
  color: #4B0082;
  margin-bottom: 20px;
  text-align: center;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 20px;
}

.digui-title {
  font-family: 'Baloo 2', cursive;
  font-size: 5rem;
  color: #4B0082;
  margin-bottom: -30px; /* Ajustar para mejor alineación */
  text-align: center;
}

.smile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

/* Pantallas de información */
#info-screen {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

#info-screen .content {
  text-align: center;
}

.info-image {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 20px;
}

#info-screen h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

#info-screen p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

#info-screen button {
  background-color: #894192;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
}

#info-screen button:hover {
  background-color: #6b3376;
}

.next-button {
  margin: 20px auto 0 auto;
  display: block;
  width: auto;
  height: auto;
}

/* Paginación (puntos) */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #894192;
}

/* Pantalla de inicio de sesión */
#login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  padding: 0 20px; /* Agrega un poco de padding horizontal */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px #bbb;
  text-align: center;
  width: 100%;
  max-width: 400px;
  font-family: 'Poppins', sans-serif;
}

.login-container img.logo {
  width: 100px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.login-button {
  width: 100%;
  background-color: #894192;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.login-button:hover {
  background-color: #6b3376;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #894192;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.forgot-password:hover {
  text-decoration: underline;
}

.create-account-button {
  width: 100%;
  background-color: #f1f1f1;
  color: #333;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.create-account-button:hover {
  background-color: #ddd;
}

.or-text {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.google-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  color: #333;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.google-logo {
  width: 20px;
  margin-right: 8px;
}

.google-login-button img {
  width: 20px;
  margin-right: 8px;
}

/* Pantalla de creación de cuenta */
/* Pantalla de creación de cuenta */
#create-account-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.back-button {
  align-self: flex-start;
}

.back-arrow {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #894192;
  cursor: pointer;
  margin-bottom: 20px; /* Aumenta el margen inferior para separar más de otros elementos */
}

.input-field {
  width: calc(100%); /* Ajusta el ancho para dejar margen adicional */
  padding: 12px;
  margin: 12px 0; /* Agrega más margen superior e inferior */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.terms-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Aumenta el margen superior para separar más de los campos de entrada */
  margin-bottom: 30px; /* Aumenta el margen inferior para separar más del botón de crear cuenta */
  font-family: 'Quicksand', sans-serif;
}

#terms-checkbox {
  margin-right: 15px; /* Aumenta el margen derecho para separar más del texto */
}

.terms-container a {
  color: #894192;
  text-decoration: none;
}

.terms-container a:hover {
  text-decoration: underline;
}

.create-account-button {
  background-color: #894192;
  color: white;
  padding: 14px 28px; /* Aumenta el padding para mejor visualización */
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%); /* Ajusta el ancho para dejar margen adicional */
  margin-top: 20px; /* Agrega margen superior para separar del contenido anterior */
}

.create-account-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.create-account-button:enabled {
  background-color: #894192;
}

.create-account-button:hover:enabled {
  background-color: #6b3376;
}


/* ABC Piensa */
.abc-piensa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c8e6c9; /* Fondo verde claro */
  height: 100vh;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
}

.letter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 10px;
  background-color: #d1c4e9; /* Fondo morado claro */
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 800px; /* Ajuste del ancho máximo */
  position: relative; /* Necesario para posicionar las cartas sobre las letras */
}

.letter-box {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1bee7; /* Fondo rosa claro */
  font-size: 24px;
  font-weight: bold;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Para el posicionamiento absoluto de las cartas */
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #000;
  border-radius: 5px;
  z-index: 1;
  pointer-events: none; /* Evita la interacción con la carta */
  /* Asegúrate de que esta clase esté presente en el DOM */
}

.empty-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 10px;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.empty-box {
  width: 100%;
  height: 60px;
  background-color: #ffeb3b; /* Fondo amarillo */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.empty-box.correct {
  background-color: #c5e1a5; /* Fondo verde claro para selección correcta */
}

.empty-box.incorrect {
  background-color: #ef5350; /* Fondo rojo para selección incorrecta */
  pointer-events: none; /* Deshabilita el clic en las cajas incorrectas */
}

.empty-box.incorrect-animation {
  animation: shake 0.5s ease-in-out;
}

.empty-box.incorrect-animation {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

/* Estilos para el mensaje de ganador */
.winner-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.trophy-image {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.winner-text {
  font-size: 2.5rem;
  font-family: 'Baloo 2', cursive;
  color: #FF1493;
  animation: bounce 1s infinite;
}

/* Animación de rebote */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Animación de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Flecha de regreso */
.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #4B0082;
  cursor: pointer;
}

.back-arrow:hover {
  color: #6b3376;
}


/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .welcome-text {
    font-size: 2rem;
  }

  .digui-title {
    font-size: 3rem;
  }

  .login-container,
  #info-screen {
    width: 90%;
  }

  .input-field,
  .login-button,
  .create-account-button {
    font-size: 0.9rem;
  }

  .input-field {
    padding: 8px;
  }

  .login-button,
  .create-account-button {
    padding: 10px;
  }

  .google-login-button {
    padding: 10px;
    font-size: 0.9rem;
  }

  .abc-piensa-container {
    padding: 10px;
  }

  .letter-box {
    font-size: 18px;
  }

  .empty-box {
    height: 50px;
  }
}

/* Media Queries para pantallas muy pequeñas */
@media (max-width: 480px) {
  .welcome-text {
    font-size: 1.5rem;
  }

  .digui-title {
    font-size: 2.5rem;
  }

  .login-container,
  #info-screen {
    width: 95%;
  }

  .input-field,
  .login-button,
  .create-account-button {
    font-size: 0.8rem;
  }

  .input-field {
    padding: 6px;
  }

  .login-button,
  .create-account-button {
    padding: 8px;
  }

  .google-login-button {
    padding: 8px;
    font-size: 0.8rem;
  }

  .abc-piensa-container {
    padding: 5px;
  }

  .letter-box {
    font-size: 16px;
  }

  .empty-box {
    height: 40px;
  }
}
